// Password Input
.input-group {
    position: relative;
  
    input[type="password"] {
      border: 1px solid var(--accent);
      padding: 10px;
      width: 100%;
      border-radius: 8px;
    }
  
    .strength {
      display: block;
      margin-top: 5px;
      font-size: 0.9rem;
      font-weight: bold;
    }
  
    .weak {
      color: red;
    }
  
    .medium {
      color: orange;
    }
  
    .strong {
      color: green;
    }
}
  